.userBar{
    width: 70%;
    margin: auto;
}

.userStatBar{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 60px 2px 197px 2px 100px 2px 115px 2px 145px 2px 110px 2px 145px 2px 128px 2px 80px;
    
}

.userStatText{
    color: white;
    width: auto;
}

#rank{
    margin-left: 16px;
    justify-self: start;
}
#username{
    margin-left: 20px;
    font-size: 14px;
    justify-self: start;
}
.vertLine{
    height: 100%;
    width: 2px;
    background-color: black;
}
.horizontalLine{
    width: 100%;
    height: 2px;
    background-color: black;
}